
$white: #fff;
$violent1: #543EA3;
$violent2: #8B77EF;
$violent3: #301B7B;
$black: #212529;
$black-black: #000;
$red: #DC3545;
$grey: #CED4DA;


$desktop:  1920px;
$sm-desktop: 1440px;
$tablet: 1023px;
$sm-tablet: 768px;
$mobile: 389px;